# Telegraf Configuration
#
# THIS FILE IS MANAGED BY ANSIBLE
#
[global_tags]
  app = "{{ telegraf_app }}"
  domain = "{{ monitoring_domain | default(telegraf_domain | default(ansible_domain | default(''))) }}"
  source = "{{ telegraf_source }}"

[agent]
  hostname = "{{ ansible_fqdn|lower }}"
  omit_hostname = false
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  logfile = ""
  debug = false
  quiet = false

#
# INPUTS:
#
[[inputs.kernel]]
[[inputs.kernel_vmstat]]
[[inputs.mem]]
[[inputs.netstat]]
[[inputs.swap]]
[[inputs.system]]
